*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:  Helvetica, sans-serif;
    font-weight:bold;
    background-color: #ffffff;
    color: #333;
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
    height: 100%;
    justify-content: center;
}
#banner{
    background-image: url('./samuel-regan-asante-abV5LdRGo_k-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 40%;
    background-position: center;
}
input[type="submit"]{
    background-color: rgb(83, 111, 73);
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: 8px;
    padding: 1em 2em;
    text-align: center;
    color: white;
    font-weight: 600;
} 
label{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch:expanded;
    letter-spacing: 2px;
    font-size: 0.8em;
}
.logo{
    width: 100%;
    background-color: #02020278;
}
.logo > img{
    width: 100%;
    aspect-ratio:initial;
}

.vertical-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#banner > span{
    font-size: smaller;
    color: white;
    justify-self: center;

}
.container-section{
    display: flex;
    width: 100%;
    padding: 2em 4em;
    flex-direction: column;
}
.bottom{
    background-color: rgb(247, 247, 247);
    justify-content: center;
    gap: 2em;
    flex:1;
    align-items:flex-start;
}
.hero-para{
    background-color: rgb(246, 246, 246);
    gap: 3rem;
    min-height: 33%;
    justify-content: end;
}

form{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    gap: 4em;
    align-items: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 0.5rem;
}
.form-container{
    gap: 2em;
    width: 100%;
    min-height: 33%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
input{
    height: 1.5rem;
    border: 1px solid #a4a4a4;
    border-radius: 2px;
}
input[type="password"]:invalid{
    border: 1px solid red;
}
input[type="email"]:invalid{
    border: 1px solid rgb(156, 46, 34);
}
input:focus{
    box-shadow: 0px 0px 5px 0px rgba(4, 29, 154, 0.271) inset;
}
input[type="submit"]:hover{
    background-color: rgb(55, 74, 49);
    cursor: pointer;
}